include mixins
extends ../layout

block no-container
    h2.achievement-header=achievement.title
    +achievement(achievement, true)

    - if (achievement.children.length || achievement.parents.length) {
        .well
            - if (achievement.children.length) {
                .achievement-info-block
                    h4=i18n.get('achievements.parents')
                    - achievement.children.forEach(function (achievement) {
                        +achievement(achievement)
                    - });
            - }

            - if (achievement.parents.length) {
                .achievement-info-block
                    h4=i18n.get('achievements.children')
                    - achievement.parents.forEach(function (achievement) {
                        +achievement(achievement)
                    - });
            - }

            - if (achievement.holders.length) {
                .achievement-info-block
                    h4=i18n.get('achievements.holders')
                    - achievement.holders.forEach(function (holder) {
                        +holder(holder)
                    - });
            - }
    - }
