#Eclipse files
.project
.settings

# Idea files
/.idea

# Extensions files
extensions/.grunt
extensions/out/
extensions/specific/

# Server files
server/node_modules
/db/

# Common files
node_modules/
