.achievement-header {
    text-align: center;
    margin: 32px;
}

.achievement {
    text-align: left;
    background: white;
    border: 1px solid rgba(128, 128, 128, 0.04);
    border-radius: 2px;
    box-sizing: border-box;
    display: inline-block;
    box-shadow: 0 0 9px -0.5px rgba(0,0,0,0.1);
    padding: 10px;
    width: 340px;
    margin: 10px;
}

.achievement_block {
    display: block;
    width: auto;
}

.achievement_size_big {
    display: block;
    width: auto;
    padding: 40px;
    margin: 10px 0;
}

.achievement_size_big .achievement__image {
    width: 100px;
    height: 100px;
}

.achievement_size_big .achievement__desc {
    color: black;
}

.achievement_size_big .achievement__name {
    font-size: 20px;
}

.achievement_size_big .achievement__name,
.achievement_size_big .achievement__desc {
    margin: 20px 0;
}

.achievement_size_big .achievement__main-info {
    margin: 30px;
    font-size: 15px;
}

.achievement:link,
.achievement:visited,
.achievement:active {
    text-decoration: none;
    color: black;
}

.achievement__name {
}

.achievement__main-info {
    vertical-align: middle;
    margin: 0 15px;
    display: inline-block;
    width: 70%;
}

.achievement__image {
    height: 50px;
    width: 50px;
}

.achievement__desc {
    font-size: 12px;
    color: grey;
}

.achievement-info-block {
    display: inline-block;
    margin: 4px;
    text-align: center;
    width: 30%;
    min-width: 360px;
    height: 131px;
    vertical-align: top;
}
