.achievement-header {
    text-align: center;
    margin: 32px;
}

.achievement {
    text-align: left;
    background: white;
    border: 1px solid rgba(128, 128, 128, 0.04);
    border-radius: 2px;
    box-sizing: border-box;
    display: inline-block;
    box-shadow: 0 0 9px -3.5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 340px;
    margin: 10px;

    &_block {
        display: block;
        width: auto;
    }

    &:link,
    &:visited,
    &:active {
        text-decoration: none;
        color: black;
    }

    &__name {
    }

    &__main-info {
        vertical-align: middle;
        margin: 0 15px;
        display: inline-block;
        width: 70%;
    }

    &__image {
        vertical-align: top;
        height: 50px;
        width: 50px;
    }

    &__desc {
        font-size: 12px;
        color: grey;
    }

    &-info-block {
        display: inline-block;
        margin: 4px;
        text-align: center;
        width: 30%;
        min-width: 360px;
        min-height: 131px;
        vertical-align: top;
    }

    & form.achievement__image {
        width: 200px;
        height: 200px;
        display: inline-block;
    }

    &__name[contenteditable=true],
    &__desc[contenteditable=true] {
        background: rgb(255, 252, 217);
        border-radius: 7px;
        box-shadow: inset 0px 2px 2px 0px rgba(0,0,0,0.1);
        padding: 10px;
    }
}


.achievement_size_big {
    box-shadow: 0 4px 9px -2.5px rgba(0, 0, 0, 0.1);
    display: block;
    width: auto;
    padding: 40px;
    margin: 10px 0;

    & .achievement__image {
        width: 200px;
        height: 200px;
    }

    & .achievement__desc {
        color: black;
    }

    & .achievement__name {
        font-size: 20px;
    }

    & .achievement__name,
    & .achievement__desc {
        margin-bottom: 20px;
    }

    & .achievement__main-info {
        margin: 0 30px;
        font-size: 15px;
    }
}


