.center {
    text-align: center;
}

.cert__referer {
    display: inline-block;
    border: 1px solid rgb(226, 226, 226);
    padding: 10px;
    border-radius: 6px;
    font-family: monospace;
    color: rgb(47, 129, 255);
}
