mixin holder(holder)
    a(href='/user/' + holder.id).holder=holder.name

- i = 0;
- themes = ['default', 'primary', 'success', 'info', 'warning', 'danger'];
- i++;
- if (i > themes.length - 1) {
    - i = 0;
- }

mixin tag(tag)
    span.label(class=('label-' + themes[i]), href='/tag/' + tag.id)=tag.name

mixin headerProfile()
    - if (me) {
       a(href="/user/" + me.id)= me.name
    - } else {
        a(href="/auth/")=i18n.get('auth.login.login')
    - }
