mixin holder(holder)
    a(href='/u/' + holder.id).holder=holder.name

mixin headerProfile()
    - if (user) {
       a(href="/settings/")= user.name
    - } else {
        a(href="/auth/")=i18n.get('auth.login.login')
    - }
