mixin holder(holder)
    a(href='/user/' + holder.id).holder=holder.name

mixin headerProfile()
    - if (me) {
       a(href="/user/" + user.id)= me.name
    - } else {
        a(href="/auth/")=i18n.get('auth.login.login')
    - }
