extends ./layout.jade

mixin social-button(name, text)
    a(href='/auth/' + name, title=name, class='btn-' + name).btn.btn-block.btn-social.btn-lg
        i(class='fa-' + name).fa
        | !{text}

block content
    .container
        .social-box
            h3 Войдите, чтобы получать крутые ачивки!
            .row
                .col-md-12
                    +social-button('facebook', 'Войти через фейсбук')
            .row
                .col-md-12
                    +social-button('twitter', 'Войти через твиттер')
            .row
                .col-md-12
                    +social-button('github', 'Войти через гитхаб')
