extends ./layout.jade

block content
    h3 Authorize:
    p
        a(href="/auth/twitter") Sign in with Twitter
    p
        a(href="/auth/facebook") Sign in with Facebook
    p
        a(href="/auth/github") Sign in with GitHub
