include ./mixins/index

doctype
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    block title
        title Benefits

    meta(name='description', content=description)
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
    link(rel='stylesheet', href='/index.css')
  body
    nav.navbar.navbar-default
        .container-fluid
            .navbar-collapse
                ul.nav.navbar-nav
                    li
                        a(href="/achievements")=i18n.get('achievements.catalogue')
                    li
                        a(href="/achievements/new")=i18n.get('achievements.newAchievement')
                ul.nav.navbar-nav.navbar-right
                    li
                        +headerProfile()
    .container
        block content
    block no-container

    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
    script.
        var _lang = '!{i18n.lang}';
    script(src='/index.js')
