include achievements/mixins

extends ./layout.jade

block content
    h1=user.name

    if achievements
        h3=i18n.get('achievements.achievements')
        - achievements = user.achievements
        - achievements.forEach(function (achievement) {
            +achievement(achievement)
        - });
    else
        p=i18n.get('achievements.noAchievements')

