extends ./layout.jade

block content
    h1=i18n.achievements

    - achievements.forEach(function (achievement) {
        .achievement
            span.achievement__name=achievement.title
            img.achievement__image(src=achievement.image)
    - });
